---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/cv/Header.astro";
import Hero from "../components/cv/Hero.astro";
import ExperienceRoute from "../components/cv/ExperienceRoute.astro";
import FormacionRoute from "../components/cv/FormacionRoute.astro";
import Footer from "../components/cv/Footer.astro";

const lang = 'es';
const data = (await import("../data/data.json")).default as any;
const { personalInfo } = data[lang];
const roleDynamic = personalInfo.role.replace('{{YEARS}}', new Date().getFullYear() - 2023);
---

<MainLayout 
	title={`${personalInfo.name} | ${roleDynamic}`}
	description={`Portfolio de ${personalInfo.name} - ${roleDynamic}`}
>
	<Header lang={lang} />
	<main>
		<Hero lang={lang} />
		<ExperienceRoute lang={lang} />
		<FormacionRoute lang={lang} />
	</main>
	<Footer lang={lang} />
</MainLayout>
